<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icons/1/images/face_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,409},{111,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{111,125}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/1/images/face_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,353},{55,23}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{55,23}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/1/images/face_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{109,77}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{109,77}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/2/images/face_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,117},{127,113}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{127,113}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/2/images/face_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,531},{77,11}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,60},{77,11}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/2/images/face_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{107,85}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{107,85}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/3/images/face_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{123,119}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{123,119}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/3/images/face_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,547},{65,51}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,60},{65,51}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/3/images/face_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,290},{81,89}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{81,89}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/4/images/face_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,232},{125,119}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{125,119}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/4/images/face_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,587},{95,79}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{95,79}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/4/images/face_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,456},{77,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{77,73}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/5/images/face_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{127,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{127,113}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/5/images/face_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,472},{67,79}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{67,79}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/5/images/face_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,381},{77,73}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{77,73}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/6/images/face_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,290},{121,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{121,117}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/6/images/face_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,536},{101,49}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{101,49}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/6/images/face_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,472},{105,73}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{105,73}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/box_2w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{97,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{97,117}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/box_5w.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,544},{97,117}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{97,117}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>icons/starGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,353},{115,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{115,117}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>line/link_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,152},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>line/link_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>line/link_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,102},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>line/link_line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>line/link_line_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,52},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>line/link_line_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>line/link_line_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>line/link_line_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>line_x/link_line_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,268},{170,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,20}}</string>
                <key>sourceSize</key>
                <string>{170,20}</string>
            </dict>
            <key>line_x/link_line_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{170,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,20}}</string>
                <key>sourceSize</key>
                <string>{170,20}</string>
            </dict>
            <key>line_x/link_line_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,246},{170,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,20}}</string>
                <key>sourceSize</key>
                <string>{170,20}</string>
            </dict>
            <key>line_x/link_line_x_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{170,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,20}}</string>
                <key>sourceSize</key>
                <string>{170,20}</string>
            </dict>
            <key>line_x/link_line_x_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,224},{170,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,20}}</string>
                <key>sourceSize</key>
                <string>{170,20}</string>
            </dict>
            <key>line_x/link_line_x_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{170,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,20}}</string>
                <key>sourceSize</key>
                <string>{170,20}</string>
            </dict>
            <key>line_x/link_line_x_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,202},{170,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,20}}</string>
                <key>sourceSize</key>
                <string>{170,20}</string>
            </dict>
            <key>line_x/link_line_x_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{170,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,20}}</string>
                <key>sourceSize</key>
                <string>{170,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>linkerPic.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02ea1e8563a5ceeac43348dc795c2b7f:1/1$</string>
            <key>textureFileName</key>
            <string>linkerPic.png</string>
        </dict>
    </dict>
</plist>
