<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,56},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,83},{12,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{12,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,224},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,197},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,29},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,170},{18,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>f_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,143},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>f_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>f_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,203},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>f_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,203},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>f_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{8,11}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{8,11}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>m_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,83},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>m_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,143},{29,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{29,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>m_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>m_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>m_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>m_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>m_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>m_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>m_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>m_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,83},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,62},{8,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{8,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,110},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,62},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,230},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,230},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,230},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,62},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,62},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,62},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>s_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,242},{8,9}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{8,9}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerInfoAndFightNumber.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ea5def25d408c06a684d2b510207c74:1/1$</string>
            <key>textureFileName</key>
            <string>PlayerInfoAndFightNumber.png</string>
        </dict>
    </dict>
</plist>
