<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,71}}</string>
                <key>sourceSize</key>
                <string>{110,71}</string>
            </dict>
            <key>icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,71}}</string>
                <key>sourceSize</key>
                <string>{110,71}</string>
            </dict>
            <key>icon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{104,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>icon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{104,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>icon_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,134},{105,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,57}}</string>
                <key>sourceSize</key>
                <string>{105,57}</string>
            </dict>
            <key>icon_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,75},{105,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,57}}</string>
                <key>sourceSize</key>
                <string>{105,57}</string>
            </dict>
            <key>number_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,35},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,220},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>number_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,193},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,199},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,199},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>number_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,199},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>number_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,166},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>number_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,68},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>number_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,133},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>number_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,100},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MedalImages.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:074583074a79c7d75e3b764727c6a831:1/1$</string>
            <key>textureFileName</key>
            <string>MedalImages.png</string>
        </dict>
    </dict>
</plist>
