<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameMemoryCard00.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,634},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,476},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard10.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,476},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,792},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard12.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,634},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard13.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,476},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard14.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,318},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard15.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,318},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard16.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,318},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard17.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,792},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard18.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,634},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard19.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,476},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,318},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard20.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,160},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard21.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,160},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard22.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,160},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard23.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,160},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard5.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard6.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard7.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard8.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
            <key>GameMemoryCard9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,156}}</string>
                <key>sourceSize</key>
                <string>{180,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game_SuperMemory.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:289db04ba18a91568050b36c15c6a403:1/1$</string>
            <key>textureFileName</key>
            <string>Game_SuperMemory.png</string>
        </dict>
    </dict>
</plist>
