<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PigLittleBrother_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,247},{108,225}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{108,225}}</string>
                <key>sourceSize</key>
                <string>{144,271}</string>
            </dict>
            <key>PigLittleBrother_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,223},{112,223}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{112,223}}</string>
                <key>sourceSize</key>
                <string>{144,271}</string>
            </dict>
            <key>PigLittleBrother_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{106,247}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{106,247}}</string>
                <key>sourceSize</key>
                <string>{144,271}</string>
            </dict>
            <key>PigLittleBrother_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{124,219}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{124,219}}</string>
                <key>sourceSize</key>
                <string>{144,271}</string>
            </dict>
            <key>PigLittleBrother_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{132,213}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{132,213}}</string>
                <key>sourceSize</key>
                <string>{144,271}</string>
            </dict>
            <key>PigLittleBrother_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,247}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{106,247}}</string>
                <key>sourceSize</key>
                <string>{144,271}</string>
            </dict>
            <key>PigLittleBrother_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,217},{114,219}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{114,219}}</string>
                <key>sourceSize</key>
                <string>{144,271}</string>
            </dict>
            <key>PigLittleBrother_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{108,243}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{108,243}}</string>
                <key>sourceSize</key>
                <string>{144,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PigBrother.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d14a75cc6143d3f377a2c2472af37db9:1/1$</string>
            <key>textureFileName</key>
            <string>PigBrother.png</string>
        </dict>
    </dict>
</plist>
